<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="about-header">
      <h2 class="about-title">QuickKudos</h2>
      <h4 class="about-slogan">Because there's more to life than cash</h4>
  </div>
    
  <hr />
    
  <p>
    QuickKudos is a fast, easy way to send electronic "brownie points" to anyone anywhere.
  </p>
  <p>
    Use QuickKudos for IOUs, service gifts, barter, or just a simple "thank you." 
    You decide. 
    QuickKudos makes it fast, simple, and fun!
  </p>
  <p>
    Why settle for cash when you can have kudos?
  </p> 

    
  <hr />
    
  <div class="about-version">
    <p>Version 0.0.1, 26 November 2018
        <br />
        <a href="https://github.com/derekwlms/kudos-ionic-pwa" target="_blank">GitHub</a>
    </p>
  </div>

</ion-content>
